.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 783px;
    z-index: 100;

    .title{
        font-size: 60px;
        margin: 0;
    }
    .description{
        width: 620px;
        color: #555555;
        font-size: 18px;
        margin: 0;
    }
}